table {
  margin: 20px;
  position: relative;
}

.light-cell {
  background: rgb(211, 210, 210);
  width: 45px;
  height: 45px;
}

.dark-cell {
  background: rgb(63, 63, 63);
  width: 45px;
  height: 45px;
}
.selected{
  box-shadow:inset 0 0 40px rgb(202, 202, 15);
}
.selectedoptions{
  box-shadow:inset 0 0 40px blueviolet;
}
.nextmove{
  box-shadow:inset 0 0 40px aqua;
}
.attack {
  box-shadow:inset 0 0 40px brown;
}
.protect{
  box-shadow:inset 0 0 40px rgb(26, 226, 86);
}
.protector{
  box-shadow:inset 0 0 40px rgb(209, 92, 14);
}

.winner{
  position:absolute ;
  
}