table {
  margin: 20px;
}

.light-cell {
  background: rgb(211, 210, 210);
  width: 45px;
  height: 45px;
}

.dark-cell {
  background: rgb(63, 63, 63);
  width: 45px;
  height: 45px;
}
.selected{
  background-color: rgb(202, 202, 15);
}
.selectedoptions{
  background-color: blueviolet;
}
